# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Virtual environments
venv/
env/
.venv/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
.coverage
coverage.xml
htmlcov/
.pytest_cache/

# IDEs
.vscode/
.idea/
